<style>
    .carousel-item img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin: 40px;   
        margin-right: 40px; 
    }
</style>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Calcio_1.jpg" alt="">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Best Eperience.</h1>
                    <p class="opacity-75">play game, have funny , every thing will be good
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">essayez-le</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/footballterain-2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Profitez du Football Sans Soucis !</h1>
                    <p>Le soleil n'est plus un problème. Nous proposons des terrains couverts pour votre confort et plaisir de jeu.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/footballterain-3.jpeg" alt="">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Terrains de Haute Qualité Disponibles !</h1>
                    <p>Réservez des terrains de football de haute qualité pour une expérience de jeu optimale et sans soucis.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>