<%- include("partials/header.ejs") %>
    <br>

    <div class="container" style="margin-bottom: 600px !important;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success bg-success-subtle text-success-emphasis" role="alert">
                    <%= message %>
                </div>
                <a href="/boss" class="btn btn-primary">Back to Dashboard</a>
            </div>
        </div>
    </div>

<%- include("partials/footer.ejs") %>