<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<br><br><br><br><br><br><br><br><br><br>

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Internal Rules of the Fields</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Field Access</h3>
                <p>The field is accessible only to registered users with a valid reservation.
                Unauthorized persons are prohibited from entering the field area.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#cpu-fill"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Reservation Policy</h3>
                <p>Reservations must be made in advance through the designated booking system.
                Cancellations must be notified at least 24 hours in advance to avoid penalties.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#calendar3"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Payment</h3>
                <p>Payment for field reservations must be completed online at the time of booking.
                Refunds are subject to the cancellation policy</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#home"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Behavior</h3>
                <p>Respectful behavior is expected at all times. Any form of violence, abusive language, or unsporting behavior is strictly
                prohibited.
                Users are responsible for any damage caused to the field or facilities.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#speedometer2"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Equipment</h3>
                <p>Only appropriate footwear (e.g., football boots) is allowed on the field.
                Personal equipment must be removed from the field after use.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#toggles2"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Health and Safety</h3>
                <p>Users must ensure they are physically fit to participate in activities.
                Any injuries or incidents must be reported immediately to the field management.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cleanliness</h3>
                <p>Users are required to keep the field and surrounding areas clean. Dispose of litter in the provided bins.
                Food and beverages (except water) are not allowed on the field.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#tools"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
    </div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="176" fill="currentColor" class="bi bi-gear-wide-connected"
        viewBox="0 0 16 16">
        <path
            d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5m0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78zM5.048 3.967l-.087.065zm-.431.355A4.98 4.98 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8zm.344 7.646.087.065z" />
    </svg>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">We have established these rules to ensure your safety and help you have an exceptional and enjoyable time on our fields.
        By respecting these guidelines, we can create a positive environment where everyone can thrive and have fun. Remember,
        this space is yours to enjoy before it is ours to manage, and together, by adhering to these rules, we can go far and
        achieve great moments of happiness and camaraderie. Let's all do our part to keep our fields safe and welcoming for
        everyone.</p>
    </div>
</div>